In [2]:
import pandas as pd

Логи представлены четырьмя колонками:

- user_id (идентификатор пользователя),
- item_id (идентификатор баннера),
- like (флаг понравился ли пользователю баннер),
- timestamp (unix время в секундах совершения действия).

Кроме того, для пользователей и баннеров имеются признаки размерностью 32.

Вам необходимо предсказать 20 баннеров для пользователей. Качество решения будет оцениваться как доля "лайкнутых" пользователей баннеров из предложенного вами списка (top-20 accuracy).

In [13]:
# тестовый файл, содержащий идентификаторы пользователи, для которых необходимо сделать предсказания

test = pd.read_csv('test.csv',index_col='user_id')
test.head()

          timestamp
user_id
166      1490944431
26       1490957371
41       1490958147
286      1490971255
108      1490976836

In [7]:
# обучающий датасет

train = pd.read_csv('train.csv')
train.head()

   user_id  item_id  like   timestamp
0      140      342     0  1490936622
1      378      172     1  1490936628
2      150      182     0  1490936650
3      455       17     0  1490936704
4      350      409     0  1490936735

In [4]:
# признаки для баннеров

item_features = pd.read_csv('item-features.csv')
item_features.head()

,item_id,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,35,0.005646,-0.012780,-0.011941,0.016942,-0.004044,0.005566,0.006587,0.005411,-0.024627,...,-0.034090,-0.005673,0.009111,-0.008770,-0.016189,-0.016189,0.003432,-0.009490,-0.009490,0.002416
1,19,0.002530,-0.005726,-0.005350,0.007591,-0.001812,0.002494,0.002951,0.002424,-0.011035,...,-0.015274,-0.002542,0.004082,-0.003929,-0.007254,-0.007254,0.001538,-0.004252,-0.004252,0.001082
2,145,0.001592,-0.003604,-0.003368,0.004778,-0.001141,0.001570,0.001858,0.001526,-0.006946,...,-0.009615,-0.001600,0.002570,-0.002473,-0.004566,-0.004566,0.000968,-0.002677,-0.002677,0.000681
3,36,0.002866,-0.006486,-0.006060,0.008598,-0.002052,0.002825,0.003343,0.002746,-0.012499,...,-0.017301,-0.002879,0.004624,-0.004451,-0.008216,-0.008216,0.001742,-0.004816,-0.004816,0.001226
4,357,0.000602,-0.001362,-0.001273,0.001806,-0.000431,0.000593,0.000702,0.000577,-0.002625,...,-0.003634,-0.000605,0.000971,-0.000935,-0.001726,-0.001726,0.000366,-0.001012,-0.001012,0.000258

In [8]:
# признаки для пользователей

user_features = pd.read_csv('user-features.csv')
user_features.head()

,user_id,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,0,0.000695,-0.001573,-0.001470,0.002085,-0.000498,0.000685,0.000811,0.000666,-0.003031,...,-0.004196,-0.000698,0.001121,-0.001079,-0.001993,-0.001993,0.000422,-0.001168,-0.001168,0.000297
1,1,0.001204,-0.002725,-0.002546,0.003612,-0.000862,0.001187,0.001404,0.001154,-0.005251,...,-0.007268,-0.001209,0.001942,-0.001870,-0.003451,-0.003451,0.000732,-0.002023,-0.002023,0.000515
2,2,0.000491,-0.001112,-0.001039,0.001475,-0.000352,0.000484,0.000573,0.000471,-0.002144,...,-0.002967,-0.000494,0.000793,-0.000763,-0.001409,-0.001409,0.000299,-0.000826,-0.000826,0.000210
3,3,0.000777,-0.001759,-0.001643,0.002332,-0.000557,0.000766,0.000906,0.000745,-0.003389,...,-0.004691,-0.000781,0.001254,-0.001207,-0.002228,-0.002228,0.000472,-0.001306,-0.001306,0.000332
4,4,0.000695,-0.001573,-0.001470,0.002085,-0.000498,0.000685,0.000811,0.000666,-0.003031,...,-0.004196,-0.000698,0.001121,-0.001079,-0.001993,-0.001993,0.000422,-0.001168,-0.001168,0.000297

In [5]:
# пример решения (сабмита)

sample_submission = pd.read_csv('sample-submission.csv')
sample_submission.head()

,user_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,166,172,47,117,192,323,251,195,359,9,...,277,242,292,87,70,88,396,314,193,39
1,26,87,174,88,337,165,25,333,72,265,...,115,243,197,335,431,338,99,177,243,285
2,41,147,147,398,423,288,265,185,127,32,...,202,244,151,163,370,183,28,290,128,128
3,286,420,53,389,38,244,273,335,388,105,...,442,31,376,257,321,425,57,291,358,119
4,108,267,430,82,91,384,398,99,53,396,...,426,84,203,324,262,47,127,131,356,180

In [1]:
def calc_score(test_choices, pred_choices, tk):
    s = 0
    for gt, p in zip(test_choices, pred_choices):
        s += int(gt in p)
    score = s / len(test_choices)
    return score